html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

// colors
$mainblue: #182E6E;
$grey: #808285;
$backgroundGrey: #5F5B5D;
$backgroundWhite: #f9f9f9;
$backgroundWhite2: #EFEFEF;

$navheightsmall: 55px;
$navheight: 96px;
nav {
  height: $navheightsmall;
  background-color: white;
  border-bottom: 1px solid rgba(168, 168, 168, 0.363);
  z-index: 2348234727348327; // yes, i'm that lazy :)
  position: fixed;
  width: 100%;

  .wrapper {
    display: grid;
    grid-template-columns: 50px auto 50px 50px;
    grid-gap: 10px;
    height: 100%;
    

    .hamburger {
      height: $navheightsmall;
      width: 50px;
      margin-left: 10px;
      svg {
        width: 100%;
        height: $navheightsmall;
      }
    }

    .menu {
      display: none;
      align-items: center;
      height: 100%;
      li {
        text-transform: uppercase;
        padding: 0 15px;
      }
    }

    .logo {
      text-align: center;
      font-size: 30px;
      padding-top: 10px;
      font-weight: bold;
      width: 100%;
      img {
        max-height: 35px;
      }
    }

    .cart {
      width: 50px;
      height: $navheightsmall;
      svg {
        width: 100%;
        height: $navheightsmall;
        padding: 7px;
      }
    }
  }
}

// * HIDDEN NAV
.hiddenNav {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $backgroundWhite;
  z-index: 234;

  ul {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    padding-top: 90px;

    li {
      font-size: 38px;
      text-transform: uppercase;
      padding: 20px 0;
      color: $mainblue;
    }
  }

  .bottomBar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $backgroundWhite2;

    .barItem {
      padding: 20px;

      img {
        width: 30px;
        display: inline-block;
      }
      h2 {
        color: $grey;
        font-size: 18px;
        //font-weight: bold;
        display: inline-block;
        position: relative;
        top: -7px;
      }
    }
  }
}

// * HEADER
header {
  background-color: white;
  //height: 650px;
  width: 100%;
  position: relative;
  display: block;
  z-index: -99999;
  text-align: center;
  margin-bottom: 40px;
  top: $navheightsmall;

  .headerImage img {
    width: 100%;
  }

  .headerText {
    bottom: 0;
    height: 300px;
    background-color: white;
    width: 100%;
    //position: absolute;

    h1 {
      text-transform: uppercase;
      font-size: 33px;
      padding: 25px;
      color: $mainblue;
      font-weight: bolder;
    }
    p {
      line-height: 1.5;
      padding: 25px;
      padding-top: 0;
      font-weight: lighter;
      color: $grey;
    }
    button {
      width: 300px;
      background-color: $mainblue;
      padding: 20px;
      font-size: 20px;
      text-transform: uppercase;
      color: white;
    }
  }
}

.steps {
  text-align: center;
  margin: 40px 0;

  h1 {
    font-size: 30px;
    padding: 20px;
    color: $mainblue;
  }

  .stepGrid {
    .step {
      max-width: 330px;
      margin: 30px auto;

      .stepImage {
        max-width: 100px;
      }
      h2 {
        font-size: 16px;
        text-transform: uppercase;
        padding: 20px;
        color: $mainblue;
      }
      p {
        padding: 0 20px;
        line-height: 1.5;
        font-size: 16px;
      }
      .downArrow {
        max-width: 40px;
        margin: 10px;
      }
    }
  }
  button {
    width: 300px;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid $mainblue;
    color: $mainblue;
  }
}




.tri {
  z-index: -9999;

  .triPanel {
    position: relative;
    background-color: grey;
    color: white;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    .triText {
      position: absolute;
      bottom: 0;
      height: 300px;
      background-color: $backgroundGrey;
      text-align: left; 
      display: grid;
      align-content: center;
      width: 100%;

      h2 {
        font-size: 24px;
        padding: 15px;
        padding-top: 0;
      }
      p {
        line-height: 1.4;
        padding: 15px;
        padding-top: 0;
      }
      h3 {
        padding: 15px;
        padding-top: 0;
        font-weight: bold;
      }
      button {
        width: 280px;
        background-color: rgba(0, 0, 0, 0);
        padding: 20px;
        font-size: 20px;
        border: 1px solid white;
        color: white;
        text-transform: uppercase;
        margin: 0 auto;
      }
    }
    
  }
}


.bi {
  .biPanel {
    height: 550px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    .biText {
      background-color: rgba(0, 0, 0, 0.5);
      height: 200px;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;

      h2 {
        font-size: 30px;
        text-transform: uppercase;
        padding: 25px;
        font-style: italic;
      }
      h3 {
        font-size: 16px;
        padding: 25px;
        line-height: 1.2;
      }
      button {
        width: 280px;
        background-color: rgba(0, 0, 0, 0);
        padding: 20px;
        font-size: 18px;
        border: 1px solid white;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}

footer {
  background-color: $backgroundWhite2;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $mainblue;
    padding: 20px 0;
  
    .bullets {
      ul {
        margin-left: 30px;
  
        li {
          list-style-type: disc;
          font-size: 14px;
          line-height: 1.2;
          padding: 3px 0;
        }
      }
    }
    .other {
      text-align: right;
  
      p {
        padding: 30px;
      }
      
      .icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        padding: 20px 0;
        max-width: 235px;
        margin: 0 10px 0 auto;
  
        .iconContainer {
          padding: 10px;
          max-width: 50px;
        }
      }
    }
  }
}